<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading">
			<center><b>Blog's Approved</b></center>>
		</div>
		<div class="panel-body">
			<b ng-show="blogs.length==0">No Approved blogs</b>
			<ul style="list-style: none;">
				<li ng-repeat="blog in  blogs"><img class="img-circle"
					src="http://localhost:8080/Middleware/getimage?email={{blog.postedBy.email}}"
					alt="Add Profile Pic" height="40px" width="60px"> <br> <a
					href="#/getBlogApproved/{{blog.id}}"><b>Blog Title: </b>{{blog.blogTitle}}<br></a>
					<b>Posted On:</b>{{blog.postedOn | date:'dd-MM-yyyy'}}<br> <b>Posted
						By:</b>{{blog.postedBy.firstname}} &nbsp; {{blog.postedBy.lastname}}<!-- firstname and lastname of the user who posted the blog -->
					<br> <a href="#/getBlogApproved/{{blog.id}}">View More
						details</a>
					<hr></li>
			</ul>
		</div>
	</div>
</div>